.hero {
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    text-align: left;
    padding-top: calc(20vh);
    margin-left: calc(7vw);
    width: calc(40vw);
  }
  
  .hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 16px;
  }
  
  .hero-buttons button {
    padding: 14px 40px;
    background-color: rgb(10, 16, 223);
    color: rgb(var(--color_50));
    border: 2px solid rgb(248, 248, 255);
    border-radius: 30px;
    font-family: helvetica-w01-roman, sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .hero-buttons button:hover {
    background-color: rgb(10, 223, 42);
    border-color: rgb(248, 248, 255);
    color: rgb(248, 248, 255);
  }
  