.hero {
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    background-color: steelblue;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    border-left: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 75px;
  }
  
  .hero-left {
    position: relative;
    text-align: left;
    padding-top: calc(20vh);
    padding-left: 40px;
    flex: 0 0 45%;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
  }

  .hero-right {
    border-left: 4px solid white;
    border-radius: 50% 0 0 50%;
    overflow: hidden;         
    display: flex;
    flex: 1;
    justify-content: first baseline; 
    align-items: center; 
    padding-left: 100px;
    background-color: #351d4b8a;
  }
  
  .hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 16px;
  }
  
  .hero-buttons button {
    padding: 14px 40px;
    background-color: #F26C5B;
    color: black;
    border-radius: 30px;
    font-family: helvetica-w01-roman, sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .hero-image {
    width: 100%;              
    max-width: 100%;
    height: 100%;
    display: block;
  }
  