.about {
    margin-top: calc(5vh);
    background-color: steelblue;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.about-content-wrapper {
    padding-top: calc(10vh);
    padding-bottom: calc(10vh);
    margin-left: calc(7vw);
}

.about-subtitle,
.about-heading {
    color: white;
}

.about-heading {
    font-size: 43px;
}

.about-text-content {
    color: white;
    width: calc(50vw);
}

.about-button-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 16px;
}

.about-button-wrapper a {
    padding: 14px 40px;
    background-color: #F26C5B;
    color: black;
    border-radius: 30px;
    font-family: helvetica-w01-roman, sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about-image {
    height: calc(95vh);
    width: calc(38vw);
}