.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background: #ffffff; */
    background: #2563EB;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .nav {
    width: 100%;
  }
  
  .nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }

  .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
  }
  
  .nav-menu li a {
    text-decoration: none;
    /* color: #222; */
    /* color: #FBAFFC; */
    color: beige;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    transition: color 0.2s ease;
  }
  
  .nav-menu li a:hover {
    /* color: #007bff; */
    text-decoration: underline;
  }
  