.footer {
    /* background: #000; */
    background-color:white;
    color: black;
    padding: 32px;
    margin-top: auto;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
    margin: 0;
  }
  